@import url("https://necolas.github.io/normalize.css/latest/normalize.css");

header {
background-color: blue;
}

main {
background-color: coral;
flex-basis: 70%;
}

aside {
background-color: aquamarine;
/* flex-basis: 30%; */
flex-grow: 1;
}

footer {
background-color: tomato;
}

.element { 
  min-height: 150px;
}

.flex .element {
  /* flex-grow: 1; */
}




/* =========== MEDIA QUERIES */


/* Tablet Screen */
@media screen  and (max-width: 768px) {
  main {
    background-color: rgb(224, 58, 155);
    flex-basis: 50%;
    gap: 0;
    }
}

/* mobile view */
@media screen  and (max-width: 375px) {
  .flex {
    flex-direction: column;
    gap: 0;
  }
  main {
    background-color: blanchedalmond;
  }
}