@import "/styles/marius_form_reset.css";


body{
  background-image: linear-gradient(to right, #7155ca, #c450c1);
}


table {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.tableContainer {
  min-height: 100vh;
  display: grid;
  place-items: center;
  border-radius: 3px;
  padding: 33px 30px;
  width: 100%;
}

.mainTable {
  width: 950px;
  place-items: center;
  text-align: center;
  border-collapse: collapse ;
}

/* .header {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  background-color: #36304a;
} */


thead th {
  color: #fff;
  padding: 1.5em 0;
  background-color: #36304a;
  font-weight: normal;


  /* border-radius: 3px; */
}

/* .mainTable {
  border-radius: 3px;
} */

tbody tr{
  background-color: #ffffff;
}

.mainTable td {
  padding: 1.5em 1.5em;
  color: grey;
}
.mainTable tbody tr {
  background-color: #fff;
}
.mainTable tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}