@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');



/* mobile first */

/* variables */

html {
  --title-color: #007bff;
}


/* general */

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body a {
  color: #007bff;
  text-decoration: none;
}

body p {
  color: grey;
}

h2 {
  font-size: 40px;
}

h3, p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}

.title {
  padding: 20px 30px;
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}



/* ##########ABOUT SECTION */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.about--container--flex {
  display: flex;
  flex-direction: column-reverse;
}

.icon-head {
  transform: rotateY(180deg);
}

.flex-box-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2em;
}

.about-icons-div {
  height: 24px;
  width: 24px;
}
.icons-img {
  max-width: 100%;
}

.about--flex1-inside1, .about--flex1-inside2 {
  margin-bottom: 2em;
}

/* //////////ABOUT SECTION */





/* ########## OUR SERVICES */

.services-section {
  background-color: #f8f9fa;
}

.services-title {
  font-size: 30px;
  color: var(--title-color);
  margin-bottom: 48px;
}

.services-card {
  margin-bottom: 1.5rem;
}

.services-card__icons {
  margin-bottom: 1rem;
}
/* //////////OUR SERVICES */



/* ########## CONTACT US */

.contacts-section {
  background-color: #f8f9fa;
}

.contacts-title {
  font-size: 30px;
  color: var(--title-color);
  margin-bottom: 48px;
  text-align: center;
  margin-bottom: 3rem;
}

.correspondence-wrapper {
  margin-bottom: 3rem;
}

.contact-details-wrap {
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 100%;
}


.mapIcon {
  margin-bottom: 0.5rem;
}
.phoneIcon {
  margin-bottom: 0.5rem;
}
.emailIcon {
  margin-bottom: 0.5rem;
}


/* CONTACTS FORM */

.form-wrapper {
  background-color: #fff;
  padding: 5rem;
}

.form-title {
  margin-bottom: 3rem;
}

.form-display {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-label {
  margin-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.input-container input {
  border: 1px solid #ced4da;
  border-radius: 30px;
  padding: 0.5rem;
  height: 43px;
}
.form-display textarea {
  border: 1px solid #ced4da;
  border-radius: 30px;
  padding: 0.8rem;
  /* height: 43px; */
}

.sendBtn {
  margin-bottom: 1rem;
}

.sendBtn input{
  display: block;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
}

.form-display textarea::placeholder {
  color: grey;
}







/* ################################ Responsive */

/* Dekstop */
@media screen and (min-width: 1000px) { 

  .container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
/* about section */
  .about--container--flex {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .about--container--flex--box1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    max-width: 570px;
  }

  .about--container--flex--box2 {
    max-width: 480px;
  }

  .about-section {
    padding: 5em;
  }
  

  /* OUR SERVICES */

  .services-title {
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 40px;
  }

  .services-Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


  /* CONTACT US */

  .correspondence-wrapper {
    display: flex;
  }


  .nameGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }



  /* GALIMA BUVO IR SU FLEXU, NAUDOJANT FLEX BASIS
   .nameGrid {
    display: flex;
  } */

  /* .name, .lastName {
    flex-basis: 50%;
    width: 100%;
  } */


}