$primary-color: darkgreen;
$secondary-color: tomato;
$main-font: Verdana, Arial, sans-serif;



body {
  .container { 
    h1 {
    font-size: 3rem;
    font-weight: normal;
    }
    h3 {
      font-size: 2.1rem;
      color: darkblue;
    }
  }
}